*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "helvetica light", sans-serif;
  color: #444444;}

body{
  background-image: url(/Images/hell.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: space-between;
  flex-direction: column;}

header{
  display: flex;
  justify-content: center;}

nav{
  padding-top: 5px;}

main{
  display: flex;
  justify-content: center
  ;
  }

footer{
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 5vh;}

.right{  
  
  font-size: small;
  text-decoration: none;
  position: fixed;
  top: 50vh;
  right: 15px;}

.left{
  font-size: small;
  text-decoration: none;
  position: fixed;
  top: 50vh;
  left: 15px;
}

footer a{
  padding: 5px;
}

.index-grid+.about-grid{
  width: 90vw;
  
}

  /*----index Page-------*/

.index-grid{
  display: grid;
  justify-items: center;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  grid-template-areas: 
  'index-eins';
  text-align: center;
}
h3{font-size: 3rem;}
p{font-size: 1.5rem;}

  /*----about Page-------*/

.about-body{
  background-image: url(/Images/hintergrundbild_duisburg.png);}
  
.about-grid{border: 1px solid red;
  display: grid;
  grid-template-columns: repeat(9, 1fr);
  grid-template-rows: repeat(9, 1fr);
  grid-template-areas:
  '. privat . . werdegang . . ziele .' ;
}
.grid{border: 1px solid green;}

.privat{grid-area: privat;}
.werdegang{grid-area: werdegang;}
.ziele{grid-area: ziele;}
 /*----Skills Page-------*/

.skills-body{
  background-image: url(/Images/abstraktes-hintergrund-zement-wand-schatten-licht-konzept.jpg);}

.skills-grid{
 
  display: grid;
  justify-items: center;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  grid-template-areas:
  '. . .'
  'html-icon . css-icon'
  'badgr-begin badgr-new badgr-classrep' 
  '. gold .';}

.badgr-begin{
  grid-area: badgr-begin;
  padding: 20px;
  border-radius: .5rem;}

.badgr-new{
  grid-area: badgr-new;
  padding: 20px;
  border-radius: .5rem;
}

.badgr-classrep{
  grid-area: badgr-classrep;
  padding: 20px;
  border-radius: .5rem;
}
.gold{
  grid-area: gold;
  padding: 20px;
  border-radius: .5rem;}

.html-icon{
  grid-area: html-icon;}

.css-icon{
  grid-area: css-icon;
  }

.skills-grid img{
  width: 140px;}

/*----Kontakt Page-------*/

.kontakt{
  background-image: url(/Images/einbaustrahlern-in-studio-hintergrund_1048-221.avif);}

.kontakt-grid{
  display: grid;
  justify-items: center;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  grid-template-areas:
  "git mail linked" ;
}

.git{
  grid-area: git;
  padding: 20px 0px;
  border-radius: .5rem;
}
.mail{
  grid-area: mail;
  padding: 20px 0px;
  border-radius: .5rem;
}
.linked{
  grid-area: linked;
  padding: 20px 0px;
  border-radius: .5rem;
}
