*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "helvetica light", sans-serif;
  color: #444444;
}
.index-body{
  background-image: url(/Images/hell.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: space-between;
  flex-direction: column;}

header{
  display: flex;
  justify-content: center;
}
nav{
  padding-top: 5px;}

.index-main{
  display: flex;
  justify-content: flex-end;
  padding-right: 30px;
  

}
footer{display: flex;
  flex-direction: column;
  align-items: center;
 
 padding-bottom: 30px;
}

footer div{
  display: flex;
  flex-direction: row;
}

a{padding: 5px;
font-size: small;
text-decoration: none;}

.hover{display: none;}

.point-index:hover + .home{
  display: content;
}

 /*----Skills Page-------*/
 .skills-body{
  background-image: url(/Images/platine.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: space-between;
  flex-direction: column;}

  .skills-main{
    display: flex;
    justify-content: space-between;
    padding: 30px;
  }

/*----Kontakt Page-------*/
.kontakt{
  background-image: url(/Images/offices.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: space-between;
  flex-direction: column;}

  .kontakt-main{
    display: flex;
    justify-content: space-between;
    padding: 30px;
  }

 